:root {
  --logo-color: rgb(78, 42, 105);
  --maximum-purple: rgb(89, 57, 116);
  --cool-gray: rgb(142, 136, 172);
  --lavendar-gray: rgb(188, 194, 213);
  --hunter-green: rgb(50, 85, 60);
  --honeydew: rgb(216, 230, 211);
  --beige: rgb(237, 238, 217);
  --teal-blue: rgb(46, 110, 137);
  --glacier: rgb(139, 174, 178);
  --shadow-gray: rgb(74, 74, 74);

  --logo-color-30: rgb(78, 42, 105, 0.3);
  --logo-color-70: rgb(78, 42, 105, 0.7);

  --maximum-purple-5: rgba(89, 57, 116, 0.05);
  --maximum-purple-10: rgb(89, 57, 116, 0.1);
  --maximum-purple-20: rgb(89, 57, 116, 0.2);
  --maximum-purple-50: rgb(89, 57, 116, 0.5);
  --maximum-purple-70: rgb(89, 57, 116, 0.7);

  --teal-blue-10: rgba(46, 110, 137, 0.1);
  --teal-blue-70: rgb(46, 110, 137, 0.7);

  --hunter-green-5: rgb(50, 85, 60, 0.05);
  --hunter-green-10: rgb(50, 85, 60, 0.1);
  --hunter-green-20: rgb(50, 85, 60, 0.2);
  --hunter-green-50: rgb(50, 85, 60, 0.5);
  --hunter-green-70: rgb(50, 85, 60, 0.7);
}

@font-face {
  font-family: "ChillJinshuSongRegular";
  src: url("fonts/ChillJinshuSongRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC";
  src: url("fonts/SourceHanSansSC-VF.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* ========== GLOBAL STYLES ========== */

body {
  font-family: "Microsoft YaHei", "SourceHanSansSC", "ChillJinshuSongRegular",
    "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC", "WenQuanYi Micro Hei",
    sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 5%;
}

.App {
  text-align: center;
  font-family: "Microsoft YaHei", "SourceHanSansSC", "ChillJinshuSongRegular",
    "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC", "WenQuanYi Micro Hei",
    sans-serif;
}

/* Typography */
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  color: var(--maximum-purple);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 3px;
  color: var(--maximum-purple);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: -7px 0 2px 0;
  display: inherit;
  color: var(--maximum-purple);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

h4 {
  text-align: center;
  color: var(--maximum-purple-70);
  margin: 0;
}

p,
ul {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 8px;
  color: var(--shadow-gray);
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

b {
  color: black;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 15px 0;
}

/* Footer */
footer {
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 12px;
}

footer a {
  color: var(--maximum-purple-70);
  text-decoration: none;
}

/* ========== FORM ELEMENTS ========== */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

select,
input {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  white-space: nowrap;
}

select {
  padding: 5px;
}

input {
  padding: 1px;
  font-family: "Microsoft YaHei", "SourceHanSansSC", "lucida grande",
    "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Noto Sans SC",
    "PingFang SC", "WenQuanYi Micro Hei", sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.auth-form .profile-form {
  gap: 10px;
}

.auth-form h2 {
  color: black;
}

.auth-row,
.profile-row {
  text-align: left;
  margin-top: 20px;
}

.profile-row {
  width: min(80vw, 300px);
}

.profile-row h2,
.profile-row h3 {
  color: black;
}

.auth-input,
.profile-input {
  border-radius: 8px;
  width: min(75vw, 250px);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 2px 8px;
  box-shadow: none;
  outline: none;
  border: 1px solid #999;
}

/* ========== BUTTONS ========== */
button {
  font-family: "Microsoft YaHei", "SourceHanSansSC", "PingFang SC",
    "WenQuanYi Micro Hei", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 32px;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  background-color: var(--teal-blue-70);
  color: white;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

button:hover {
  background-color: var(--teal-blue);
}

.navbar-button {
  background-color: white;
  color: var(--shadow-gray);
}

.navbar-button:hover {
  background-color: var(--logo-color-30);
}

.navbar-button-profile {
  background-color: var(--logo-color-70);
  color: white;
}

.navbar-button-profile:hover {
  background-color: var(--logo-color);
}

.profile-button {
  background-color: var(--hunter-green-70);
}

.profile-button:hover {
  background-color: var(--hunter-green);
}

.profile-button-2 {
  background-color: rgba(229, 222, 234, 0.5);
  color: rgba(77, 11, 132);
}

.profile-button-2:hover {
  background-color: rgba(229, 222, 234);
}

.collapse-btn,
.life_theme_item_collapse_btn {
  font-size: 16px;
  width: 32px;
  padding: 0 8px;
  font-weight: bold;
}

.collapse-btn,
.life_theme_item_collapse_btn {
  background-color: var(--maximum-purple-70);
  margin-bottom: 10px;
}

.collapse-btn:hover,
.life_theme_item_collapse_btn:hover {
  background-color: var(--maximum-purple);
}

.auth-button,
.profile-button,
.profile-button-2 {
  margin: 10px;
}

.deletion-button {
  background-color: transparent;
  margin: 10px;
  padding: 0, 8px;
}

.deletion-button:hover {
  background-color: var(--hunter-green-10);
}

.deletion-button-image {
  width: 16px;
  height: auto;
}

/* ========== NAVIGATION ========== */
.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-left {
  margin-right: auto;
}

.navbar-title {
  margin: 0;
  font-family: "ChillJinshuSongRegular", "SourceHanSansSC", "Microsoft YaHei",
    sans-serif;
  color: var(--logo-color);
}

.navbar-text {
  margin: 0;
  bottom: 0;
}

.navbar-right,
.navbar-links {
  display: flex;
  gap: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-title {
    font-size: 1.5rem;
  }

  .navbar-button,
  .navbar-button-profile {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}

/* ========== COMPONENTS ========== */
/* Main Content */
.main-content {
  margin-top: 60px;
  padding-top: 20px;
}

/* FAQ Background */
.background,
.life-theme-faq {
  text-align: left;
  padding: 5px;
  max-width: min(80vw, 600px);
  min-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 0;
}

/* Info Collector */
.info_collector {
  height: calc(100% - 10px);
  width: min(90vw, 1200px);
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--teal-blue-10);
  border-radius: 8px;
  text-align: center;
}

.info_collector_header,
.birth-time-row,
.birth-location-row {
  align-items: center;
}

.birth-time-row select,
.birth-location-row select {
  margin-left: 5px;
  margin-right: 5px;
}

/* Report Result */
.result {
  margin-top: 20px;
  text-align: left;
  width: min(90vw, 1200px);
  /* min-width: 60vw; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Report Text Item */
.report_item,
.user-profile-item,
.user-profile-item-dash,
.user-profile-expansion-item,
.life_theme_item {
  padding: 20px;
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
}

.report_item {
  margin: 0 0 20px 0;
  height: calc(100% - 10px);
  /* background-color: rgba(222, 234, 223, 0.2); */
  background-color: var(--maximum-purple-5);
  width: min(85vw, 1200px);
}

.user-profile-expansion-item {
  margin-top: 20px;
  width: min(80vw, 1200px);
  background-color: var(--hunter-green-5);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-profile-item,
.user-profile-item-dash {
  margin: 10px;
  text-align: center;
  width: min(85vw, 400px);
  height: 145px;
  background-color: var(--hunter-green-5);
}

.user-profile-item-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile-item h2,
.user-profile-expansion-item h2 {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  flex-wrap: wrap;
  color: black;
}

.user-profile-expansion-item div {
  text-align: left;
  width: 100%;
}

.user-profile-item p,
.user-profile-expansion-item p {
  text-align: left;
  margin: 0;
}

.user-profile-details-container,
.user-profile-expansion-details-container {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.user-profile-details h1 {
  text-align: left;
  margin: 20px 0 10px 0;
}

.user-profile-tag-zodiac,
.user-profile-tag-planet {
  font-size: 12px;
  margin: 5px 5px 5px 0;
  font-family: "Microsoft YaHei", "SourceHanSansSC", sans-serif;
  border-radius: 4px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  background-color: rgba(29, 85, 34, 0.7);
  color: white;
  font-weight: lighter;
  padding: 4px 8px; /* Add some spacing inside */
  display: inline-block; /* Ensures proper spacing */
}

.user-profile-tag-zodiac {
  background-color: var(--glacier);
}

.user-profile-tag-planet {
  background-color: var(--cool-gray);
}

.life_theme_item {
  margin: 0 auto 10px auto;
  box-sizing: border-box;
  width: min(90vw, 1200px);
  height: calc(100% - 10px);
  padding: 10px;
}

.report_item h2,
.life_theme_item h2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.report_item h2,
.report_item h3 {
  color: var(--maximum-purple);
}

.life_theme_item h2 {
  color: var(--maximum-purple);
}

.life_theme_item hr {
  border-color: var(--lavendar-gray);
  margin: 0;
}

.report_item_summary,
.life_theme_item_summary,
.natal-chart-item,
.planet-focalizer-item {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
}

.natal-chart-item {
  width: min(90vw, 500px);
}

.natal-chart-item h2,
.planet-focalizer-item h2,
.planet-focalizer-item h3,
.life_theme_item_detail h2,
.life_theme_item_detail h3 {
  color: var(--maximum-purple);
}

.planet-focalizer-item {
  width: min(90vw, 1200px);
}

.natal-chart-item-container {
  max-width: min(90vw, 1200px);
  min-width: 60vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.report_item_summary {
  background-color: var(--maximum-purple-10);
}

.life_theme_item_summary {
  background-color: var(--maximum-purple-5);
  margin-top: 10px;
  width: 95%;
}

.report_item_summary p,
.life_theme_item_summary p {
  color: var(--shadow-gray);
}

.life-theme-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: min(90vw, 1200px);
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  background-color: var(--teal-blue-10);
  margin: 10px auto 20px auto;
  padding: 0 8px;
}

.life-theme-faq h4 {
  color: var(--teal-blue);
  margin-top: 10px;
}

.life_theme_item_detail ul {
  text-align: left;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 45px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.planet_focialier_result_table th {
  background-color: var(--maximum-purple-20);
  color: var(--shadow-gray);
}

.focalizer_pattern_row {
  overflow-x: auto;
  text-align: left;
}

.natal-chart-table td,
.natal-chart-table th {
  padding: 0;
  margin: 5px 0;
  min-width: 30px;
}

.natal-chart-table th {
  background-color: var(--hunter-green-10);
  color: var(--shadow-gray);
}

.natal-chart-table td p,
.natal-chart-table th p {
  margin: 3px 0;
}

/* Tabs */
.natal-chart-tablist {
  border-bottom: 1px solid var(--cool-gray);
  margin: 0 0 10px;
  padding: 0;
}

.natal-chart-tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-family: "Microsoft YaHei", "SourceHanSansSC", sans-serif;
}

.natal-chart-tab:hover {
  color: var(--maximum-purple);
  background-color: var(--maximum-purple-10);
  font-family: "Microsoft YaHei", "SourceHanSansSC", sans-serif;
}

.natal-chart-tab--selected {
  background: #fff;
  border-color: var(--cool-gray);
  border-bottom: white;
  color: var(--maximum-purple);
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-family: "Microsoft YaHei", "SourceHanSansSC", sans-serif;
}

/* ========== Terms of Service / Privacy Notice / Feedback =========== */
.term-item {
  text-align: left;
  margin: 10px auto 10px auto;
}

.term-item h3 {
  text-align: left;
  margin: 5px auto;
  color: var(--maximum-purple);
}

.textbox {
  width: min(75vw, 300px);
  height: 150px;
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 14px;
  overflow: hidden;
  word-wrap: break-word;
  box-sizing: border-box;
  resize: none;
}

/* ========== UTILITIES ========== */
.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.no-underline {
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
}
