:root {
  /* https://www.schemecolor.com/smoky-purples.php */
}

@font-face {
  font-family: 'ChillJinshuSongRegular';
  src: url('fonts/ChillJinshuSongRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceHanSansSC";
  src: url("fonts/SourceHanSansSC-VF.otf.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* ========== GLOBAL STYLES ========== */

body {
  font-family: "Microsoft YaHei", "SourceHanSansSC", "ChillJinshuSongRegular", "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC", 
    "WenQuanYi Micro Hei", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-start;
  margin: 5%;
}

.App {
  text-align: center;
  font-family: "Microsoft YaHei", "SourceHanSansSC", "ChillJinshuSongRegular", "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC", 
    "WenQuanYi Micro Hei", sans-serif;
}

/* Typography */
h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  color: rgb(67, 10, 114);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 3px;
  color: rgb(70, 15, 114);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: -7px 0 2px 0;
  display: inherit;
  color: rgb(73, 20, 114);
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

h4 {
  text-align: center;
  color: rgba(78, 11, 132, 0.536);
  margin: 0;
}

p, ul {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 8px;
  color: #999;
}

ul {
  list-style-type: circle;
  padding-left: 30px;
}

b {
  color: #3b3b3b;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 15px 0;
}

/* Footer */
footer {
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-size: 12px;
}

footer a {
  color: rgba(78, 11, 132, 0.536);
  text-decoration: none;
}


/* ========== FORM ELEMENTS ========== */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

select, input {
  font-size: 14px;
  margin-top: 5px;
  margin-right: 8px;
  margin-left: 8px;
  white-space: nowrap;
}

select {
  padding: 5px;
}

input {
  padding: 1px;
  font-family: "Microsoft YaHei", "SourceHanSansSC", "ChillJinshuSongRegular", "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC", 
    "WenQuanYi Micro Hei", sans-serif;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.auth-form {
  gap: 10px;
}

.auth-row {
  text-align: left;
}

.auth-input {
  border-radius: 8px;
  border-width: 0.5;
  width: min(75vw, 300px);
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 2px 4px;
  box-shadow: none;
  outline: none;
  border: 1px solid #999;
}

/* ========== BUTTONS ========== */
button, .navbar-button, .navbar-button-2 {
  font-family: "SourceHanSansSC", "Microsoft YaHei", "ChillJinshuSongRegular", "lucida grande", "lucida sans unicode", lucida, helvetica,
    "Hiragino Sans GB", "Noto Sans SC", "PingFang SC",
    "WenQuanYi Micro Hei", sans-serif;
  border: none;
  border-radius: 5px;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 32px;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  white-space: nowrap;
}

button {
  background-color: rgb(77, 11, 132, 0.7);
  color: white;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

button:hover {
  background-color: rgb(77, 11, 132);
}

.navbar-button-2, .profile-button-2 {
  background-color: rgba(229, 222, 234, 0.5);
  color: rgba(77, 11, 132);
}

.navbar-button-2:hover, .profile-button-2:hover {
  background-color: rgba(229, 222, 234);
}

.collapse-btn, .life_theme_item_collapse_btn {
  font-size: 16px;
  margin-bottom: 10px;
  width: 32px;
  padding: 0 8px;
}

.collapse-btn {
  background-color: rgba(29, 85, 34, 0.7);
}

.life_theme_item_collapse_btn {
  background-color: rgba(13, 22, 117, 0.7);
} 

.collapse-btn:hover {
  background-color: rgba(29, 85, 34);
}

.life_theme_item_collapse_btn:hover {
  background-color: rgba(13, 22, 117);
}

.auth-button {
  max-width: 200px;
  width: 100%;
  box-sizing: border-box;
}

.profile-button, .profile-button-2 {
  margin: 10px;
}

.deletion-button {
  background-color: transparent;
  margin: 10px;
  padding: 0, 8px;
}

.deletion-button:hover {
  background-color: rgba(229, 222, 234);
}

.deletion-button-image {
  width: 16px;
  height: auto;
}

/* ========== NAVIGATION ========== */
.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-left {
  margin-right: auto;
}

.navbar-title {
  margin: 0;
  font-family: "ChillJinshuSongRegular", "SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

.navbar-text {
  margin: 0;
  bottom: 0;
}

.navbar-right, .navbar-links {
  display: flex;
  gap: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 10px 15px;
  }

  .navbar-title {
    font-size: 1.2rem;
  }

  .navbar-button, .navbar-button-2 {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}

/* ========== COMPONENTS ========== */
/* Main Content */
.main-content {
  margin-top: 60px;
  padding-top: 20px;
}

/* FAQ Background */
.background {
  text-align: left;
  padding: 5px;
  max-width: 600px;
  min-width: 20vw;
  margin-left: auto;
  margin-right: auto;
}

/* Info Collector */
.info_collector {
  height: calc(100% - 10px);
  max-width: min(90vw, 1200px);
  min-width: 60vw;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(229, 222, 234, 0.2);
  border-radius: 8px;
  text-align: center;
}

.info_collector_header, .birth-time-row, .birth-location-row {
  align-items: center;
}

.birth-time-row select, .birth-location-row select {
  margin-left: 5px;
  margin-right: 5px
}

/* Report Result */
.result {
  margin-top: 20px;
  text-align: left;
  max-width: min(90vw, 1200px);
  /* min-width: 60vw; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

/* Report Text Item */
.report_item, .user-profile-item, .user-profile-item-dash, .user-profile-expansion-item, .life_theme_item {
  padding: 20px;
  border-radius: 8px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  overflow: hidden;
}

.life_theme_item {
  background-color: rgba(222, 223, 234, 0.2);
  height: calc(100% - 10px);
}

.report_item {
  margin: 0 auto;
  height: calc(100% - 10px);
  background-color: rgba(222, 234, 223, 0.2);
  max-width: min(90vw, 1200px);
  min-width: 60vw;
}

.user-profile-expansion-item {
  margin: 10px;
  width: min(85vw, 1200px);
  background-color: rgba(222, 234, 223, 0.2);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.user-profile-item, .user-profile-item-dash {
  margin: 10px;
  text-align: center;
  width: min(90vw, 400px);
  height: 145px;
  background-color: rgba(222, 234, 223, 0.2);
}

.user-profile-item-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: transparent;
  border: 1px dotted #999; */
}

.user-profile-item h2, .user-profile-expansion-item h2 {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: baseline; 
  width: 100%; 
  flex-wrap: wrap;
}

.user-profile-item p, .user-profile-expansion-item p {
  text-align: left;
  margin: 0;
}

.user-profile-details-container, .user-profile-expansion-details-container {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.user-profile-details h1 {
  text-align: left;
  margin: 20px 0 10px 0;
}

.user-profile-tag-zodiac, .user-profile-tag-planet {
  font-size: 12px;
  margin: 5px;
  font-family: "SourceHanSansSC", "Microsoft YaHei", sans-serif;
  border-radius: 4px;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  background-color: rgba(29, 85, 34, 0.7);
  color: white;
  font-weight: lighter;
  /*border: 2px solid #4A90E2;  Border color */
  padding: 4px 8px; /* Add some spacing inside */
  display: inline-block; /* Ensures proper spacing */
}

.user-profile-tag-zodiac {
  background-color: rgba(29, 85, 34, 0.7);
}

.user-profile-tag-planet {
  background-color:rgb(13, 22, 117, 0.7);
}

.life_theme_item {
  margin: 0 auto 10px auto;
  box-sizing: border-box;
}

.report_item h2, .life_theme_item h2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.report_item h2 {
  color: rgba(29, 85, 34);
}

.life_theme_item h2 {
  color: rgb(13, 22, 117);
}

.report_item_summary, .life_theme_item_summary, .natal-chart-item {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  padding: 10px 10px 5px 10px;
  box-sizing: border-box;
  border-radius: 6px;
}

.natal-chart-item {
  width: min(90vw, 500px);
}

.natal-chart-item-container {
  max-width: min(90vw, 1200px);
  min-width: 60vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}

.report_item_summary {
  background-color: rgba(222, 234, 223, 0.7);
}

.life_theme_item_summary {
  background-color: #dedfeab3;
}

.report_item_summary p {
  color: #818181;
}

.life_theme_item_summary p {
  color: #818181;
  text-align: left;
}

.life_theme_item_detail h3 {
  text-align: left;
  margin: 5px auto;
  color: rgb(13, 22, 117);
}

.life_theme_item_detail ul{
  text-align: left;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  min-width: 45px;
}

tr {
  display: table-row;
  vertical-align: inherit;
  unicode-bidi: isolate;
  border-color: inherit;
}

.planet_focialier_result_table th {
  background-color: rgba(222, 234, 223, 0.7);
  color: #818181;
}

.focalizer_pattern_row {
  overflow-x: auto;
  text-align: left;
}

.natal-chart-table td, .natal-chart-table th {
  padding: 0;
  margin: 5px 0;
  min-width: 30px;
}

.natal-chart-table th {
  background-color: rgba(222, 234, 223, 0.7);
  color: #818181;
}

.natal-chart-table td p, .natal-chart-table th p {
  margin: 3px 0;
}


/* Tabs */
.natal-chart-tablist {
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.natal-chart-tab {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-family:"SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

.natal-chart-tab:hover {
  color: rgb(67, 10, 114, 0.7);
  font-weight: bold;
  background-color: #eeeeee;
}

.natal-chart-tab--selected {
  background: #fff;
  border-color: #aaa;
  color: rgb(67, 10, 114);
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  font-family:"SourceHanSansSC", "Microsoft YaHei", sans-serif;
}

/* ========== Terms of Service / Privacy Notice / Feedback =========== */
.term-item {
  text-align: left;
  margin: 10px auto 10px auto;
}

.term-item h3 {
  text-align: left;
  margin: 5px auto;
  color: rgba(78, 11, 132, 0.85);
}

.textbox {
  width: 100%;   
  height: 100px;           
  overflow: hidden;         
  word-wrap: break-word;    
  box-sizing: border-box;  
  resize: none;            
}

/* ========== UTILITIES ========== */
.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding: 0;
}

.no-underline {
  text-decoration: none;
}

.error {
  color: rgb(220, 26, 26);
  text-align: center;
}